SCRAPING WITH BEAUTIFUL SOUP

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [22]:
class web_scraper:
    def __init__(self, url):
        self.url = url
      
    def page_scrap(self):
        scraping_data = []
        page = req.get(self.url).text
        parsed_page = bs(page, 'html.parser')
        labels = [label for label in parsed_page.find_all('tr')[0].get_text().splitlines()[1:]]
        temp = [scraping_data.append((t, [])) for t in labels]
        return self.__td_scrap(parsed_page, scraping_data)
        
        
    def __td_scrap(self, parsed_page, scraping_data):
        td_data = parsed_page.find_all('tr')
        for j in range(1, len(parsed_page.find_all('tr')[1:])):
            i = 0
            td = td_data[j].get_text().splitlines()[1:]
            if len(td) != len(td_data[0].get_text().splitlines()[1:]):
                break
            for row_data in td:
                scraping_data[i][1].append(row_data)
                i+=1
        return self.__data_csv(scraping_data)
                
    def __data_csv(self, scraping_data):
        data = {title:column for (title, column) in scraping_data}
        return pd.DataFrame(data)

In [23]:
url = 'https://www.mohfw.gov.in/'
df = web_scraper(url)

In [24]:
data = df.page_scrap()

In [25]:
data

,S. No.,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**
0,1,Andaman and Nicobar Islands,33,33,0
1,2,Andhra Pradesh,2018,975,45
2,3,Arunachal Pradesh,1,1,0
3,4,Assam,65,34,2
4,5,Bihar,747,377,6
5,6,Chandigarh,174,24,2
6,7,Chhattisgarh,59,53,0
7,8,Dadar Nagar Haveli,1,0,0
8,9,Delhi,7233,2129,73
9,10,Goa,7,7,0
10,11,Gujarat,8541,2780,513
11,12,Haryana,730,337,11
12,13,Himachal Pradesh,59,39,2
13,14,Jammu and Kashmir,879,427,10
14,15,Jharkhand,160,78,3
15,16,Karnataka,862,426,31
16,17,Kerala,519,489,4
17,18,Ladakh,42,21,0
18,19,Madhya Pradesh,3785,1747,221
19,20,Maharashtra,23401,4786,868
20,21,Manipur,2,2,0
21,22,Meghalaya,13,10,1
22,23,Mizoram,1,1,0
23,24,Odisha,414,85,3
24,25,Puducherry,12,6,0
25,26,Punjab,1877,168,31
26,27,Rajasthan,3988,2264,113
27,28,Tamil Nadu,8002,2051,53
28,29,Telengana,1275,800,30
29,30,Tripura,152,2,0
30,31,Uttarakhand,68,46,1
31,32,Uttar Pradesh,3573,1758,80
32,33,West Bengal,2063,499,190