SCRAPING WITH BEAUTIFUL SOUP

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
url = 'https://www.mohfw.gov.in/'

In [3]:
page = req.get(url).text

In [4]:
parsed_page = bs(page, 'html.parser')

In [5]:
scraping_data = []
labels = [label for label in parsed_page.find_all('tr')[0].get_text().splitlines()[1:]]
[scraping_data.append((t, [])) for t in labels]
# list(map(lambda x: data.append((x,)), [i for i in labels]))

[None, None, None, None, None]

In [7]:
td_data = parsed_page.find_all('tr')
for j in range(1, len(parsed_page.find_all('tr')[1:])):
    i = 0
    td = td_data[j].get_text().splitlines()[1:]
    if len(td) != len(td_data[0].get_text().splitlines()[1:]):
        break
    for row_data in td:
        scraping_data[i][1].append(row_data)
        i+=1

In [8]:
data = {title:column for (title, column) in scraping_data}
india_data = pd.DataFrame(data)

In [9]:
india_data

,S. No.,Name of State / UT,Total Confirmed cases (Including 111 foreign Nationals),Cured/Discharged/Migrated,Deaths ( more than 70% cases due to comorbidities )
0,1,Andaman and Nicobar Islands,33,33,0
1,2,Andhra Pradesh,1930,887,44
2,3,Arunachal Pradesh,1,1,0
3,4,Assam,63,34,2
4,5,Bihar,591,322,5
5,6,Chandigarh,169,24,2
6,7,Chhattisgarh,59,43,0
7,8,Dadar Nagar Haveli,1,0,0
8,9,Delhi,6542,2020,73
9,10,Goa,7,7,0
10,11,Gujarat,7796,2091,472
11,12,Haryana,675,290,9
12,13,Himachal Pradesh,50,38,2
13,14,Jammu and Kashmir,836,368,9
14,15,Jharkhand,156,78,3
15,16,Karnataka,794,386,30
16,17,Kerala,505,485,4
17,18,Ladakh,42,17,0
18,19,Madhya Pradesh,3614,1676,215
19,20,Maharashtra,20228,3800,779
20,21,Manipur,2,2,0
21,22,Meghalaya,13,10,1
22,23,Mizoram,1,1,0
23,24,Odisha,294,63,2
24,25,Puducherry,9,6,0
25,26,Punjab,1762,157,31
26,27,Rajasthan,3708,2026,106
27,28,Tamil Nadu,6535,1824,44
28,29,Telengana,1163,750,30
29,30,Tripura,134,2,0
30,31,Uttarakhand,67,46,1
31,32,Uttar Pradesh,3373,1499,74
32,33,West Bengal,1786,372,171